@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveAuto" />


<style>

    html, body {
        height: 100%;
        margin: 0;
    }

    .centered-main {
        width: 100%;
        max-width: 800px;
        margin: auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
</style>

<main class="centered-main">
    @Body
</main>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
